@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-background text-slate-300 antialiased selection:bg-primary-500/30 selection:text-primary-200;
  }
}

@layer components {
  .glass-card {
    @apply bg-surface/60 backdrop-blur-md border border-white/5;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Grid Background Pattern */
.bg-grid-pattern {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}